@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
    font-family: cursive;
}


#footer {
    width: 100%;
    height: 15rem;
    background-color: #c08507;
    padding: 10px;
    /*float: bottom;*/
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.block-leftHand {
    width: 30%;
    height: 100%;
    float: left;
    margin-left: 0rem;
}

#logo {
    border-radius: 50%;
    display: block;
    width: 10em;
    /*position: relative;*/
    margin: auto;
}

#block-left-content {
    text-align: center;
    justify-content: center;
}
.block-center {
    display: inline-block;
    width: 30%;
    margin-top: auto;
    margin-bottom: auto;
}
.block-right {
    display: inline-block;
    height: 30%;
    width: 30%;
    text-align: justify;
    margin-top: 2rem;
}